*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.outer{
    background-color: cadetblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.outer>h1{
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}
.outer>h1:hover{
   color: darkgoldenrod;
   transform: scale(1.5px);
}
.inner{
    background-color: brown;
    height: 400px;
    width: 400px;
    
}
.row1{
    
    display: flex;

}
.row2{
    display: flex;

}
.w{
    background-color: white;
    width: 50px;
    height: 50px;
}
.b{
    background-color:black;
    width: 50px;
    height: 50px;
}